[submodule "platform-core"]
	path = apps/platform-core
	url = https://github.com/EugeneNguyen/platform-core.git
[submodule "platform-auth"]
	path = apps/platform-auth
	url = https://github.com/EugeneNguyen/platform-auth.git
[submodule "platform-org"]
	path = apps/platform-org
	url = https://github.com/EugeneNguyen/platform-org.git
