[submodule "platform-core"]
	path = apps/platform-core
	url = https://github.com/PMNexa/platform-core.git
[submodule "platform-auth"]
	path = apps/platform-auth
	url = https://github.com/PMNexa/platform-auth.git
[submodule "platform-org"]
	path = apps/platform-org
	url = https://github.com/PMNexa/platform-org.git
[submodule "apps/platform-mcp"]
	path = apps/platform-mcp
	url = https://github.com/PMNexa/platform-mcp.git
